[Unit]
Description=OVS-DOCA ovsdb-server container
After=network.target
# kolla OVS 服务须已停止
Conflicts=openvswitch_db.service

[Service]
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/podman rm -f ovs-doca-db
ExecStart=/usr/bin/podman run \
    --name ovs-doca-db \
    --rm \
    --network=host \
    --privileged \
    --cgroupns=host \
    --cap-add=CAP_AUDIT_WRITE \
    -v /var/lib/containers/storage/volumes/{{ ovs_doca_db_volume }}/_data:/var/lib/openvswitch:z \
    -v /var/lib/containers/storage/volumes/{{ ovs_doca_logs_volume }}/_data:/var/log/kolla:z \
    -v /run/openvswitch:/run/openvswitch:z \
    -v /etc/localtime:/etc/localtime:ro \
    {{ ovs_doca_db_image }}
ExecStop=/usr/bin/podman stop ovs-doca-db
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
