[Unit]
Description=OVS-DOCA ovs-vswitchd container
After=ovs-doca-db.service
Requires=ovs-doca-db.service
Conflicts=openvswitch_vswitchd.service

[Service]
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/podman rm -f ovs-doca-vswitchd
ExecStartPre=-/sbin/ip link delete {{ ovs_doca_bridge }}
ExecStartPre=-/sbin/ip link delete {{ ovs_doca_uplink }}
ExecStart=/usr/bin/podman run \
    --name ovs-doca-vswitchd \
    --rm \
    --network=host \
    --privileged \
    --cgroupns=host \
    --security-opt label=disable \
    -v /var/lib/containers/storage/volumes/{{ ovs_doca_logs_volume }}/_data:/var/log/kolla:z \
    -v /run/openvswitch:/run/openvswitch:z \
    -v /lib/modules:/lib/modules:ro \
    -v /sys:/sys \
    -v /dev:/dev \
    -v /etc/localtime:/etc/localtime:ro \
    {{ ovs_doca_vswitchd_image }}
ExecStop=/usr/bin/podman stop ovs-doca-vswitchd
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
